.button {
    border: none;
    outline: none;
    padding-inline: 0.5rem;
    padding-block: .75rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    &.primary-button{
        margin: 5px 0px;
        background-color: rgb(214, 26, 70);
        color: white;
        padding: 11px 155px;
    }

    &:hover{
        opacity: 90%;
    }

    &:active{
        transform: scale(0.9);
    }
}